h1 {
    display: flex;
    justify-content: center;
}
.container {
    width: 360px;
    height: 630px;
    margin: 0 auto;
    border: 1px solid red;
    border-radius: 15px;
}
.interactive {
    position: absolute;
    bottom: 30px;
    width: 360px;
    color: white;
}
.interactive h6 {
    text-align: center;
    font-size: 19px;
}
.options {
    display: flex;
    justify-content: space-around;
}
.answer-option {
    border-radius: 15px;
    background-color: rgb(125, 0, 254);
    color: white;
    width: 78px;
    height: 88px;
}
video {
    width: 360px;
    height: 630px;
    border-radius: 15px;
}